[Unit]
Description=Sends sensor data to unstable.kusaremkn.com/yure
RequiresMountsFor=/sys/kernel/config
AssertPathIsMountPoint=/sys/kernel/config
After=systemd-modules-load.service network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/path/to/yured
Restart=on-failure
RestartSec=3
User=root

[Install]
WantedBy=multi-user.target
