name: cross build

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target:
          - aarch64-unknown-linux-musl
          - x86_64-unknown-linux-musl
          - i686-unknown-linux-musl
          - i586-unknown-linux-musl
          - aarch64-unknown-freebsd
          - x86_64-unknown-freebsd
          - i686-unknown-freebsd
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
        with:
          targets: ${{ matrix.target }}
      - uses: goto-bus-stop/setup-zig@v2
        with:
          version: 0.15.2
      - run: cargo install cargo-zigbuild --locked
      - run: cargo zigbuild --release --target ${{ matrix.target }}
      - uses: actions/upload-artifact@v4
        with:
          name: yured-${{ matrix.target }}
          path: target/${{ matrix.target }}/release/yured
